<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImage" src="assets/images/128.png"/>
        <span id="welcomeHeader">WELCOME TO RESIST.NETWORK</span>
        <span id="welcomeDescription" style="text-align:center;">
		This game is unlike most. There are no rules, it is pure Anarchy. Griefers, PVP, bandits, spaceships, and no server protections. <b>Resist</b> the chaos, band with 
others, or struggle on your own while you fight for a better tomorrow... or not.
		<br />
		<br />
		Warning, chat can be offensive. Seriously. 18+ Recommended.
		<br />
		<br />
		See our <a href="https://discord.gg/VvtcH7h" style="color:#fff;">Discord</a> or <a href="https://resist.network" style="color:#fff;">our 
website</a> for support.
		</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from connecting...</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>
